body {
    width: 200px;
    height: 200px;
    overflow: hidden;
 }
#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
#bulb {
    display: block;
    margin: 0 auto;
}